@use '../utils/variables' as *;

:root[data-bs-theme=light] .grw-count-badge.bg-light {
  position: relative;
  top: auto;
  color: $black-1000 !important;
  background-color: $yellow-1200 !important;
}
