@use '../utils/variables' as *;

.dropdown {
  &-menu {
    --bs-dropdown-bg: hsl(210, 11%, 96%, .7);
    --bs-dropdown-border-color: #D1D3DB;
    --bs-dropdown-link-active-color: #000;
    --bs-dropdown-link-active-bg: #F3CD88;
    --bs-dropdown-link-color: #000;
    --bs-dropdown-link-hover-color: #000;
    --bs-dropdown-link-hover-bg: hsla(var(--primary-hs), var(--primary-l), .2);
    --bs-dropdown-box-shadow: 0px 4px 17px rgba(0, 0, 0, .15);
    backdrop-filter: blur(15px);
  }
}
