#grw-page-editor-mode-manager {
  .btn {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-color: var(--bs-body-color);
    --bs-btn-hover-color: #EEEFF2;
    --bs-btn-hover-bg: #343433;
    --bs-btn-hover-border-color: #343433;
    --bs-btn-active-color: #EEEFF2;
    --bs-btn-active-bg: #474746;
    --bs-btn-active-border-color: #474746;
    --bs-btn-disabled-color: var(--bs-body-color);
  }
}
