@use '../../settings/variables' as *;

@mixin common {
  border-width: 2px;
  border-radius: 100px;

  @include typography;
}

@mixin typography {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

$prefix: '--bs-btn';

@mixin primary {
  #{$prefix}-color: $black-1000;
  #{$prefix}-bg: $yellow-1000;
  #{$prefix}-border-color: $yellow-1000;
  #{$prefix}-hover-color: $black-1000;
  #{$prefix}-hover-bg: $yellow-900;
  #{$prefix}-hover-border-color: $yellow-900;
  #{$prefix}-focus-shadow-rgb: 0;
  #{$prefix}-active-color: $black-1000;
  #{$prefix}-active-bg: $yellow-750;
  #{$prefix}-active-border-color: $yellow-750;
  #{$prefix}-active-shadow: 0;
  #{$prefix}-disabled-color: $white-1000;
  #{$prefix}-disabled-bg: $yellow-200;
  #{$prefix}-disabled-border-color: $yellow-200;

  @include common;
}

@mixin secondary {
  #{$prefix}-color: $black-1000;
  #{$prefix}-bg: transparent;
  #{$prefix}-border-color: $black-1000;
  #{$prefix}-hover-color: $white-1000;
  #{$prefix}-hover-bg: #343433;
  #{$prefix}-hover-border-color: #343433;
  #{$prefix}-focus-shadow-rgb: 0;
  #{$prefix}-active-color: $white-1000;
  #{$prefix}-active-bg: #474746;
  #{$prefix}-active-border-color: #474746;
  #{$prefix}-active-shadow: 0;
  #{$prefix}-disabled-color: $yellow-200;
  #{$prefix}-disabled-bg: #F5F0F1;
  #{$prefix}-disabled-border-color: #F5F0F1;

  @include common;
}

@mixin outline-primary {
  @include secondary;
  @include common;
}

@mixin outline-secondary {
  @include secondary;
  @include common;
}

@mixin outline-neutral-secondary {
  @include secondary;
  @include common;
}

@mixin function {
  #{$prefix}-color: $white-1000;
  #{$prefix}-bg: transparent;
  #{$prefix}-border-color: transparent;
  #{$prefix}-hover-color: $yellow-1000;
  #{$prefix}-hover-bg: transparent;
  #{$prefix}-hover-border-color: transparent;
  #{$prefix}-active-color: $yellow-900;
  #{$prefix}-active-bg: transparent;
  #{$prefix}-active-border-color: transparent;
  #{$prefix}-active-shadow: 0;
  #{$prefix}-disabled-color: #EFEFEF;
  #{$prefix}-disabled-bg: #BDBDBC;
  #{$prefix}-disabled-border-color: #BDBDBC;

  @include common;
}

@mixin auth {
  #{$prefix}-color: $white-1000 !important;
  #{$prefix}-bg: transparent !important;
  #{$prefix}-border-color: $white-1000 !important;
  #{$prefix}-hover-color: $black-1000 !important;
  #{$prefix}-hover-bg: #E5E5E5 !important;
  #{$prefix}-hover-border-color: #E5E5E5 !important;
  #{$prefix}-active-color: $black-1000 !important;
  #{$prefix}-active-bg: #DBDBDB !important;
  #{$prefix}-active-border-color: #DBDBDB !important;
  #{$prefix}-active-shadow: 0 !important;
  #{$prefix}-disabled-color: #EFEFEF !important;
  #{$prefix}-disabled-bg: #BDBDBC !important;
  #{$prefix}-disabled-border-color: #BDBDBC !important;
  width: 100%;
  padding: 1rem;

  @include common;
}