@use '../../settings/variables' as *;

@mixin shadow-100($color, $opacity) {
  box-shadow: 0 6px 15px rgba($color, $opacity);
}

@mixin shadow-200($color, $opacity) {
  box-shadow: 0 12px 22px rgba($color, $opacity);
}

@mixin shadow-300($color, $opacity) {
  box-shadow: 0 24px 34px rgba($color, $opacity);
}

@mixin shadow-400($color, $opacity) {
  box-shadow: 0 40px 45px rgba($color, $opacity);
}