@use '../atoms/mixins/button' as button;

:root[data-bs-theme=light] .nologin {
  // References the image runtime path
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .input-group {
    input {
      color: var(--bgcolor-global);
      background: #353945;
    }
  }

  .btn {
    transition: none;

    &-login {
      @include button.primary;
      width: 100%;
      padding: 1rem 6rem;

      .material-symbols-outlined {
        color: var(--bs-body-color);
      }

      .flex-grow-1 {
        color: var(--bs-body-color);
      }
    }

    &-register {
      @include button.primary;
      width: 100%;
      padding: 1rem 6rem;

      .material-symbols-outlined {
        color: var(--bs-body-color);
      }

      .flex-grow-1 {
        color: var(--bs-body-color);
      }
    }
  }

  .nologin-header {
    width: 400px;
    // padding: 1.5rem;
    padding-bottom: 30px;
    background: var(--primary);

    h1 {
      display: none;
    }
  }

  .nologin-dialog {
    width: 400px;
    padding: 1.5rem;
    background: var(--bs-body-color);
    box-shadow: 0px 24px 45px 0px rgba(36, 36, 35, 0.23);
  }

  .link-growi-org {
    display: none;
  }
}
