@use '../atoms/mixins/button' as button;
@use '../atoms/mixins/shadows' as *;
@use '../settings/variables' as *;

:root[data-bs-theme="light"] .nologin {
  // References the image runtime path
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .input-group {
    input {
      color: $white-1000;
      background: $black-1000;
      border: solid 2px $white-1000;
      border-radius: unset !important;

      &::placeholder {
        color: $black-600;
      }
    }
  }

  .btn {
    transition: none;

    &-login {
      @include button.primary;

      width: 100%;
      padding: 1rem 6rem;
    }

    &-register {
      @include button.primary;

      width: 100%;
      padding: 1rem 6rem;
    }

    &-function {
      @include button.function;

      font-size: 14px;
      font-weight: 400;
    }
  }

  .nologin {
    &-header {
      background: $yellow-1000;
      border-radius: unset !important;
    }

    &-dialog {
      @include shadow-300($black-1000, 20%);

      padding: 1.5rem;
      background: $black-1000;
      border-radius: unset !important;
    }
  }

  .link-growi-org {
    display: none;
  }
}