@use './variables' as *;
@use './bootstrap/variables' as *;
@use './theme/hsl-functions' as hsl;

@use './atoms/alert' as *;
@use './atoms/button' as *;
@use './atoms/typography' as *;
@use './atoms/code' as *;
@use './atoms/count-pill-badge' as *;
@use './atoms/dropdown' as *;

@use './molecules/page-editor-mode-manager' as *;
@use './molecules/page-view' as *;

@use './pages/login' as *;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


// META
/* Regroups native variables that are used across the website */
:root[data-bs-theme=light] {
  --grw-sidebar-nave-bg: var(--bs-body-color);

  --grw-sidebar-nav-btn-color: #EEEFF2;
  --grw-sidebar-nav-btn-hover-bg: #343433;
  --grw-sidebar-nav-btn-hover-color: #EEEFF2;
  --grw-sidebar-nav-btn-active-color: #EEEFF2;
  --grw-sidebar-nav-btn-active-bg: #474746;

  --grw-highlight-100: var(--primary);

  --bs-body-color: hsl(var(--bs-body-color-hs), var(--bs-body-color-l));
  --bs-body-color-hs: 227, 13%;
  --bs-body-color-l: 14%;

  --bs-body-bg: var(--bgcolor-global);

  --bs-code-color: var(--primary);

  // Links
  --bs-link-color: hsl(var(--bs-link-color-hs), var(--bs-link-color-l));
  --bs-link-color-hs: 228,13%;
  --bs-link-color-l: 54%;
  --bs-link-color-rgb: var(--bs-link-color);
  --bs-link-hover-color: var(--primary);

  --grw-sidebar-head-bg: var(--bs-body-color);
}

:root[data-bs-theme=light] {
  --primary: hsl(var(--primary-hs),var(--primary-l)) !important;
  --primary-hs: 38,88%;
  --primary-l: 66%;
  --secondary: hsl(var(--secondary-hs),var(--secondary-l)) !important;
  --secondary-hs: 208,7%;
  --secondary-l: 4var(--bg-color-global)6%;

  // Background colors
  --bgcolor-global: hsl(var(--bgcolor-global-hs),var(--bgcolor-global-l));
  --bgcolor-global-hs: 225,13%;
  --bgcolor-global-l: 97%;
  --bgcolor-inline-code: var(--bs-body-color); //optional
  --bgcolor-card: var(--primary);
  --bgcolor-blinked-section: #{hsl.alpha(var(--primary), 90%)};

  --white-1000: hsl(var(--white-1000-hs),var(--white-1000-l));
  --white-1000-hs: 225,13%;
  --white-1000-l: 94%;
}

// NAVIGATION & SIDEBAR
.grw-navigation-draggable-line {
  background-color: var(--primary) !important;
}

:root[data-bs-theme=light] .sidebar-contents-container {
  background-color: #EFE5D4 !important;
  border-right: 4px solid var(--primary);

  &.open {
    border: solid 2px var(--primary);
    border-radius: 0px 20px 20px 0px;
  }
}

:root[data-bs-theme=light] .grw-sidebar-nav {
  background-color: var(--primary);

  .btn-group {
    transition: none !important;

    .btn-primary {
      --bs-btn-color: var(--bs-body-bg);

      &:hover {
        svg {
          fill: #343433;
        }

        .icon {
          color: var(--bs-body-bg);
        }
      }

      &:active {
        svg {
          fill: #474746;
        }

        .icon {
          color: var(--bs-body-bg);
        }
      }

      svg {
        fill: var(--bs-body-color);
      }
    }

  }

  .btn-primary {
    --bs-btn-color: #A67D38;
  }

  .btn.active {
    color: #1C1B1F;

    &:after {
      background-color: var(--bs-body-color);
    }
  }
}

// COMPONENTS
:root[data-bs-theme=light] .btn {
  &-copy {
    border: none;
  }

  // &-page-item-control {
  //   --bs-btn-color: #FFFFFF80;
  //   --bs-btn-bg: transparent;
  //   --bs-btn-hover-color: #FFFFFFBF;
  //   --bs-btn-hover-bg: transparent;
  //   --bs-btn-active-color: #EEEFF2;
  //   --bs-btn-active-bg: transparent;
  //   --bs-btn-border-width: 0px;
  // }
}

.growi {
  #page-editor {
    .cm-activeLine {
      background-color: rgba(245, 190, 92, 0.23);

      &Gutter {
        background-color: rgba(245, 190, 92, 0.23);
      }
    }
  }

  .wiki {
    a {
      &:not(.alert-link) {
        color: var(--bs-body-color) !important;
        text-decoration: none;
        border-bottom: solid 1.5px var(--bs-body-color);

        &:hover {
          color: #343433 !important;
          border-bottom: solid 1.5px #343433;
        }

        &:active {
          color: #474746 !important;
          border-bottom: solid 1.5px #474746;
        }

        &:visited {
          color: #F5A55C !important;
          border-bottom: solid 1.5px #F5A55C;
        }
      }
    }

    code {
      border: none;
    }
  }
}

a {
  &.link-opacity-75-hover {
    color: var(--bs-body-color);
    border-bottom: solid 1.5px var(--bs-body-color);

    &:hover {
      color: #343433;
      border-bottom: solid 1.5px #343433;
    }

    &:active {
      color: #474746;
      border-bottom: solid 1.5px #474746;
    }
  }

  &.toc-link {
    color: var(--bs-body-color);

    &:hover {
      color: #343433;
      border-bottom: solid 1px #343433;
    }

    &:active {
      color: #474746;
      border-bottom: solid 1.5px #474746;
    }
  }
}

.card {
  padding: 1rem .5rem;
}

.comment-form .bg-comment {
  background-color: transparent !important;
  border: none !important;
}

:root[data-bs-theme=light] .list-group-item {
  --bs-list-group-action-hover-bg: hsla(var(--primary-hs),var(--primary-l), .6);
  --bs-list-group-active-bg: var(--primary);
  border-radius: 5px;

  .material-symbols-outlined {
    color: var(--bs-body-color);
  }
}

:root[data-bs-theme=light] .dropdown {

  &-menu {
    --bs-dropdown-bg: hsl(210, 11%, 96%, .7);
    --bs-dropdown-border-color: #D1D3DB;
    --bs-dropdown-link-active-color: #000;
    --bs-dropdown-link-active-bg: #F3CD88;
    --bs-dropdown-link-color: #000;
    --bs-dropdown-link-hover-color: #000;
    --bs-dropdown-link-hover-bg: hsla(var(--primary-hs), var(--primary-l), .2);
    --bs-dropdown-box-shadow: 0px 4px 17px rgba(0, 0, 0, .15);
    backdrop-filter: blur(15px);
  }

  &-item {
    font-weight: 600;
  }
}

:root[data-bs-theme=light] .form {
  &-control {
    background-color: #FFFFFF;
  }

  &-check-input {
    --bs-form-check-bg: #FFFFFF;

    &:checked {
      background-color: var(--primary);
      border-color: var(--primary);
    }

    &:focus {
      border-color: hsla(var(--primary-hs), var(--primary-l), .2);
      box-shadow: 0 0 0 .25rem hsla(var(--primary-hs), var(--primary-l), .2);
    }
  }
}

// ADMINISTRATION
:root[data-bs-theme=light] .admin-page .list-group-item {
  --bs-list-group-active-bg: var(--white-1000);

  &-action {
    --bs-list-group-action-hover-bg: #E5E5E5;
    --bs-list-group-action-active-bg: #DBDBDB;
  }
}
