@use './variables' as *;
@use './bootstrap/variables' as *;
@use './theme/mixins/page-editor-mode-manager';
@use './theme/hsl-functions' as hsl;

//== Light Mode
//
:root[data-theme='light'] {
  --primary: hsl(var(--primary-hs),var(--primary-l)) !important;
  --primary-hs: 38,88%;
  --primary-l: 66%;
  --secondary: hsl(var(--secondary-hs),var(--secondary-l)) !important;
  --secondary-hs: 208,7%;
  --secondary-l: 46%;
  --accent: hsl(var(--accent-hs),var(--accent-l));
  --accent-hs: 0,0%;
  --accent-l: 0%;

  // Background colors
  --bgcolor-global: hsl(var(--bgcolor-global-hs),var(--bgcolor-global-l));
  --bgcolor-global-hs: 225,13%;
  --bgcolor-global-l: 97%;
  --bgcolor-inline-code: #1F2128; //optional
  --bgcolor-card: #F5BE5C;
  --bgcolor-blinked-section: #{hsl.alpha(var(--primary), 90%)};
  //--bgcolor-keyword-highlighted: #{$grw-marker-yellow};

  // Font colors
  --color-global: hsl(var(--color-global-hs),var(--color-global-l));
  --color-global-hs: 227,13%;
  --color-global-l: 14%;
  --color-reversal: #1F2128;
  // --color-header: #2b2b2b;
  --color-link: hsl(var(--color-link-hs),var(--color-link-l));
  --color-link-hs: 227,13%;
  --color-link-l: 50%;
  --color-link-hover:#1F2128;
  --color-link-wiki: var(--color-link);
  --color-link-wiki-hs: var(--color-link-hs);
  --color-link-wiki-l: var(--color-link-l);
  --color-link-wiki-hover: #{hsl.lighten(var(--color-link), 20%)};
  --color-link-nabvar: #EEEFF2;
  --color-inline-code: #F5BE5C; // optional

  // List Group colors
  --color-list: #1F2128; // optional
  --bgcolor-list: #EFE5D4; // optional
  --color-list-hover: var(--color-global); // optional
  --bgcolor-list-hover: #F1D7AA;// optional
  --color-list-active: var(--color-global) ; // optional
  --bgcolor-list-active: #F5BE5C; //optional
  // --color-page-list-group-item-meta: #{$gray-500}; // optional

  // Table colors
  // --color-table: #; // optional
  // --bgcolor-table: #; // optional
  // --border-color-table: #; // optional
  // --color-table-hover: #; // optional
  // --bgcolor-table-hover: #; // optional

  // Navbar
  // --bgcolor-navbar:linear-gradient(to right,#e60000 14%,#f39800 28%,#fff100 42%,#009944 56%,#0068b7 70%,#1d2088 87%,#920783 100%);
  --bgcolor-navbar: #1F2128;
  --bgcolor-navbar-hs: 0,100%;
  --bgcolor-navbar-l: 50%;
  --bgcolor-search-top-dropdown: hsl(var(--bgcolor-search-top-dropdown-hs),var(--bgcolor-search-top-dropdown-l));
  --bgcolor-search-top-dropdown-hs: 0,0%;
  --bgcolor-search-top-dropdown-l: 100%;
  --border-image-navbar: #F5BE5C;

  // Logo colors
  --bgcolor-logo: #1F2128;
  --fillcolor-logo-mark: #1F2128;

  // Sidebar
  --bgcolor-sidebar: var(--primary);
  --bgcolor-sidebar-hs: var(--primary-hs);
  --bgcolor-sidebar-l: var(--primary-l);
  --bgcolor-sidebar-nav-item-active: #0000FF; // optional
  // --text-shadow-sidebar-nav-item-active: 0px 0px 10px #3e4042; // optional

  // Sidebar resize button
  --color-resize-button: #607000;
  --bgcolor-resize-button: hsl(var(--bgcolor-resize-button-hs),var(--bgcolor-resize-button-l));
  --bgcolor-resize-button-hs: 140,100%;
  --bgcolor-resize-button-l: 50%;
  --color-resize-button-hover:#56F;
  --bgcolor-resize-button-hover: #A64;

  // Sidebar contents
--color-sidebar-context: hsl(var(--color-sidebar-context-hs),var(--color-sidebar-context-l));
--color-sidebar-context-hs: 0,0%;
--color-sidebar-context-l: 0%;
--bgcolor-sidebar-context: #{hsl.lighten(var(--primary), 77%)};
--bgcolor-sidebar-context-hs: var(--primary-hs);
--bgcolor-sidebar-context-l: calc(var(--primary-l) + 77%);

  // Sidebar list group (settings)
  --bgcolor-sidebar-list-group: #EFE5D4; // optional

  // Subnavigation
  --bgcolor-subnav: hsl(var(--bgcolor-subnav-hs),var(--bgcolor-subnav-l));
  --bgcolor-subnav-hs: var(--bgcolor-global-hs);
  --bgcolor-subnav-l: calc(var(--bgcolor-global-l) - 3%);

  // Tabs
  // --bordercolor-nav-tabs: #{$gray-300}; // optional
  // --color-nav-tabs-link-active: #; //optional
  // --bordercolor-nav-tabs-hover: # # $bordercolor-nav-tabs; // optional
  // --bordercolor-nav-tabs-active: # # // optional

  // Tags
  // --color-tags: #; //optional
  // --bgcolor-tags: #; //optional

  // Icon colors
  --color-editor-icons: #1F2128;

  // Border colors
  --border-color-theme: #000;
  --bordercolor-inline-code: #000; // optional

  // Dropdown colors
  --bgcolor-dropdown-link-active: #F5BE5C;
  --color-dropdown-link-active: #1F2128;

  // admin theme box
  --color-theme-color-box: #{hsl.lighten(var(--primary), 20%)};

  // Button
  .btn-group.grw-page-editor-mode-manager {
    .btn.btn-outline-primary {
      @include page-editor-mode-manager.btn-page-editor-mode-manager(var(--primary), #{hsl.lighten(var(--primary), 65%)}, #{hsl.lighten(var(--primary), 70%)});
    }
  }





  // breaking!!
  // .navbar > div {
  //   margin: -10px !important;
  // }
  .navbar > ul > li {
    margin-right: -20px !important;
  }
  .grw-subnav {
    padding: 0 1.5rem;
    margin: 30px;
    background: #FFF;
    backdrop-filter: blur(21px);
    border-radius: 7px;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #D1D3DB;
  }
  #main {
    margin: -30px;
  }

  .wiki h1 {
    // transform: translateX(100%);
    // animation: marquee 15s linear infinite;
  }
  // @keyframes marquee {
  //   0% {
  //     -moz-transform: translateX(100%);
  //     -webkit-transform: translateX(100%);
  //     transform: translateX(100%);
  //   }
  //   100% {
  //     -moz-transform: translateX(-100%);
  //     -webkit-transform: translateX(-100%);
  //     transform: translateX(-100%);
  //   }
  // }

  .grw-recent-changes {
    margin: -15px;
  }

  // Button of nav sidebar
  .grw-sidebar-nav-primary-container .btn.active {
    // width:50px;
    // height:50px;
    // width:62px;
    // height:62px;
    // margin:7px;
    background:#0091EA;
    border-radius: 7px;
    // animation: flash 0.3s linear infinite;

    &::after {
      display: none !important;
    }
  }

  .grw-sidebar-nav-primary-container, .grw-sidebar-nav-secondary-container {
    .btn {
        border-radius: 7px;
        // margin: 7px;
        clip-path: inset(5px round 6px);

      i {
        // font-size: 1.5rem;
      }
    }

    &:hover {
  
    }
  }
}

// The sidebar of the bottom: settings, trash and help
.grw-sidebar-nav-secondary-container {
  .btn {
    // height: 64px;
    // display: inline-flex !important;
    // justify-content: center;
    // align-items: center;

    i {
      padding: 7px;
    }
  }
}

//Navbar
.navbar-brand {
  background: #F5BE5C;
  // font-size: 2.1rem !important;
}

#grw-navbar .grw-app-title {
  color: #EEEFF2 !important;
  margin-left: 20px;
}

#grw-navbar {
  border-color: #F5BE5C;
}

// Contextual navigation
.grw-sidebar {

  #grw-sidebar-contents-wrapper {
    border-right: 3px solid #F5BE5C;
  }

  div.grw-contextual-navigation>div {
  background: #EFE5D4 !important;
  }

  // The tool to resize the contextual navigation panel
  .grw-navigation-draggable {
    .grw-navigation-draggable-hitarea-child {
      background: #F5BE5C !important;
      width: 4px !important;
    }
  }

  .grw-pagetree {
    .list-group-item.list-group-item-action {
      margin-bottom: 4px;
      margin-top: 4px;
      border-radius: 7px;
      &:hover {
        background: #F1D5A4 !important;
      }

      .grw-pagetree-triangle-btn {
        svg {
          fill: #1F2128 !important;
        }
      }
    }

    .list-group-item-action .grw-pagetree-current-page-item {
      background: #f5bd5c;
    }

    #grw-pagetree-current-page-item {
      background: #f5bd5c !important;
    }
  }
}


//Login page
:root[data-theme=light] .nologin {
  // background: red !important;
  background: url("https://raw.githubusercontent.com/lucasjoliveau/growi-plugin-theme-numigi/main/background-img.png") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

  .input-group {
    input {
      padding: 1.5rem 1rem 1.5rem 0;
      background: #353945 !important;
    }

    span.input-group-text {
      background: #353945 !important;
    }
  }

  button#login {
    background: #F5BE5C !important;
    border-radius: 100px !important;
    padding: 1rem 6rem;
    width: 100%;

    &:hover .eff {
      top: 0 !important;
    }

    .eff {
      background: #EEEFF2 !important;
      top: -55px !important;
    }

    .btn-label {
      background: transparent !important;
      padding: 0 !important;

      i {
        color: #1F2128 !important;
      }
    }

    .btn-label-text {
      color: #1F2128 !important;
    }
  }

  .nologin-header {
    background: #F5BE5C !important;
    width: 400px;
    // padding: 1.5rem;
    padding-bottom: 30px !important;

    h1 {
      display: none;
    }
  }

  .nologin-dialog {
    width: 400px;
    padding: 1.5rem;
    background: #1F2128 !important;
    box-shadow: 0px 24px 45px 0px rgba(36, 36, 35, 0.23);

    .link-switch {
      color: #F5BE5C !important;
    }
  }
}


// Settings sidebar list group
.list-group admin-navigation {

}

// Recent change panel - sidebar
.grw-recent-changes {

}