// Brand colors
$yellow-750: #F3CD88;
$yellow-900: #F4C36B;
$yellow-1000: #F5BE5C;
$yellow-1200: #F5A55C;

$white-1000: #EEEFF2;

$black-300: #D1D3DB;
$black-400: #B4B8C5;
$black-500: #989DAF;
$black-600: #7B8199;
$black-700: #62687E;
$black-800: #4C5162;
$black-900: #353945;
$black-1000: #1F2128;
